---
# tasks file for roles/reboot-server

- ansible.builtin.include: reboot-if-kernel-upgraded.yml

- ansible.builtin.include: reboot-server.yml
  when: "reboot_server_needed | default(reboot_server_always)"
